Source: libpam-freerdp2
Section: admin
Priority: optional
Maintainer: Artica Project <devs@lists.arctica-project.org>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper-compat (= 12),
               dpkg-dev (>= 1.16.1.1~),
               mate-common,
               freerdp2-dev (>= 2~),
               libgtest-dev,
               libpam0g-dev,
               pkg-config,
Standards-Version: 4.1.4
Homepage: https://github.com/ArcticaProject/libpam-freerdp2
Vcs-Git: https://github.com/ArcticaProject/libpam-freerdp2/
Vcs-Browser: https://github.com/ArcticaProject/libpam-freerdp2/

Package: libpam-freerdp2
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         freerdp2-x11,
Description: PAM Module to auth against an RDP server using FreeRDPv2
 Auth and session PAM module that uses FreeRDPv2 to authenticate against
 an RDP server as the remote host and user. Local account required.
 .
 This PAM module is intended for facilitating Remote Logon into RDP
 servers using LightDM's Arctica Greeter.

Package: libpam-freerdp2-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: PAM Module to auth against an RDP server using FreeRDPv2 (development files)
 Auth and session PAM module that uses FreeRDPv2 to authenticate against
 an RDP server as the remote host and user. Local account required.
 .
 This PAM module is intended for facilitating Remote Logon into RDP
 servers using LightDM's Arctica Greeter.
 .
 This package contains the pam_freerdp2.so header files.
