#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

# Uncomment for building against freerdp2-dev explicitly if freerdp3-dev _and_
# freerdp2-dev are installed.
#override_dh_auto_configure:
#	dh_auto_configure -- --with-freerdp2

override_dh_install:
	dh_install
	find debian/tmp/lib/security -type f \
	    \( -name '*.a' -o -name '*.la' \) \
	    -exec rm '{}' +

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
